* {
    background: #f4f2ef;
    color: #302119;
    font-family: monospace;
    /*font-size: 18px;*/
    max-width: 100%
}

.title {
    align: center;
    text-align: center;
}

.bookshelf {
    display: inline-block;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-basis: max-content;
    flex-grow: 1;
    color: #000;
}

img {
    border: 5px solid transparent;
}

.name {
    display: table;
    padding: 2px;
    padding-top: 0px;
    margin-top: 0px;
    margin: 10px;
    width: 45%;
}

.download {
    background: #4264fd;
    border-radius: 4px;
    overflow: hidden;
    color: #fff;
    width: 250px;
    padding: 12px 18px;
    border: none;
    font-size: 22px;
}

.download:hover {
    background-color: #0f3bfc;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
    outline: none;
    color: #fff;
    background: transparent
}

.sorts {
    color: #302119;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sorts a {
    color: #0f3bfc;
}

.bookshelf h2 {
    text-decoration: underline;
}
